#migration files
*/migrations/*
!*/migrations/__init__.py

# Byte-compiled / optimized / DLL files
__pycache__/

# celery beat schedule file
celerybeat-schedule

celerybeat.pid
celeryd.pid

# git
.git

# Editor
*.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
swagger.yaml

# media
media/*

# static
static/*
